@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?xr0pfk');
    src:url('../fonts/icomoon.eot?xr0pfk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?xr0pfk') format('truetype'),
    url('../fonts/icomoon.woff?xr0pfk') format('woff'),
    url('../fonts/icomoon.svg?xr0pfk#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-_1:before {
    content: "\e047";
}
.icon-_2:before {
    content: "\e600";
}
.icon-_3:before {
    content: "\e601";
}
.icon-_4:before {
    content: "\e602";
}
.icon-_5:before {
    content: "\e603";
}
.icon-_6:before {
    content: "\e604";
}
.icon-_7:before {
    content: "\e605";
}
.icon-_8:before {
    content: "\e606";
}
.icon-_9:before {
    content: "\e607";
}
.icon-_10:before {
    content: "\e609";
}
.icon-_11:before {
    content: "\e60a";
}
.icon-_12:before {
    content: "\e60b";
}
.icon-_13:before {
    content: "\e60c";
}
.icon-_14:before {
    content: "\e60d";
}
.icon-URL_15:before {
    content: "\e60e";
}
.icon-_16:before {
    content: "\e60f";
}
.icon-_17:before {
    content: "\e610";
}
.icon-_18:before {
    content: "\e611";
}
.icon-_19:before {
    content: "\e612";
}
.icon-_20:before {
    content: "\e613";
}
.icon-_21:before {
    content: "\e614";
}
.icon-_22:before {
    content: "\e615";
}
.icon-_23:before {
    content: "\e616";
}
.icon-_24:before {
    content: "\e617";
}
.icon-_25:before {
    content: "\e618";
}
.icon-_26:before {
    content: "\e619";
}
.icon-_27:before {
    content: "\e61a";
}
.icon-_28:before {
    content: "\e61b";
}
.icon-_29:before {
    content: "\e61c";
}
.icon-_30:before {
    content: "\e61d";
}
.icon-_31:before {
    content: "\e61e";
}
.icon-_32:before {
    content: "\e620";
}
.icon-delete_33:before {
    content: "\e624";
}
.icon-_34:before {
    content: "\e625";
}
.icon-HOT_35:before {
    content: "\e626";
}
.icon-_36:before {
    content: "\e627";
}
.icon-_37:before {
    content: "\e628";
}
.icon-_38:before {
    content: "\e629";
}
.icon-_39:before {
    content: "\e62a";
}
.icon-_40:before {
    content: "\e62b";
}
.icon--_41:before {
    content: "\e62c";
}
.icon--_42:before {
    content: "\e62d";
}
.icon--_43:before {
    content: "\e62e";
}
.icon-_44:before {
    content: "\e62f";
}
.icon-_45:before {
    content: "\e630";
}
.icon-_46:before {
    content: "\e631";
}
.icon-_47:before {
    content: "\e634";
}
.icon-_48:before {
    content: "\e637";
}
.icon-_49:before {
    content: "\e642";
}
.icon-_50:before {
    content: "\e64a";
}
.icon-_51:before {
    content: "\e64b";
}
.icon-_52:before {
    content: "\e64d";
}
.icon-_53:before {
    content: "\e64f";
}
.icon-_54:before {
    content: "\e650";
}
.icon-hot_55:before {
    content: "\e653";
}
.icon-_56:before {
    content: "\e655";
}
.icon-_57:before {
    content: "\e656";
}
.icon-_58:before {
    content: "\e658";
}
.icon-_59:before {
    content: "\e66a";
}
.icon-_60:before {
    content: "\e66b";
}
.icon-_61:before {
    content: "\e66c";
}
.icon-_62:before {
    content: "\e66e";
}
.icon-_63:before {
    content: "\e66f";
}
.icon-_64:before {
    content: "\e670";
}
.icon-_65:before {
    content: "\e672";
}
.icon-_66:before {
    content: "\e673";
}
.icon-_67:before {
    content: "\e674";
}
.icon-icon_68:before {
    content: "\e675";
}
.icon-_69:before {
    content: "\e676";
}
.icon-_70:before {
    content: "\e677";
}
.icon-logo_71:before {
    content: "\e681";
}
.icon-NBA_72:before {
    content: "\e691";
}
.icon-_73:before {
    content: "\e698";
}
.icon-_74:before {
    content: "\e6bd";
}
.icon-_75:before {
    content: "\e727";
}
.icon-icon_76:before {
    content: "\e730";
}
.icon-_78:before {
    content: "\e785";
}
.icon-_e786_2:before {
    content: "\e786";
}
.icon-_e787_3:before {
    content: "\e787";
}
.icon-_e788_4:before {
    content: "\e788";
}
.icon-_e789_5:before {
    content: "\e789";
}
.icon-_e78a_6:before {
    content: "\e78a";
}
.icon-_e78b_7:before {
    content: "\e78b";
}
.icon-_e78c_8:before {
    content: "\e78c";
}
.icon-_e78d_9:before {
    content: "\e78d";
}
.icon-_e78e_10:before {
    content: "\e78e";
}
.icon-_e78f_11:before {
    content: "\e78f";
}
.icon-_e792_12:before {
    content: "\e792";
}
.icon-_e793_13:before {
    content: "\e793";
}
.icon-_e61f_14:before {
    content: "\e784";
}
.icon-_77:before {
    content: "\e77f";
}
.icon-football_78:before {
    content: "\e781";
}
.icon-shopping_79:before {
    content: "\e782";
}
.icon-exchange_skin_80:before {
    content: "\e783";
}
.icon-short_video_81:before {
    content: "\e795";
}
.icon-_news_1:before {
    content: "\e796";
}
.icon-_news_82:before {
    content: "\e797";
}
.icon-_news_little_83:before {
    content: "\e798";
}
.icon-_nav_news_84:before {
    content: "\e799";
}
.icon-_nav_novel_85:before {
    content: "\e801";
}
.icon-_nav_video_86:before {
    content: "\e802";
}
.icon-_nav_life_87:before {
    content: "\e803";
}
.icon-_nav_map_88:before {
    content: "\e804";
}
.icon-_nav_dot_89:before {
    content: "\e805";
}
.icon-_nav_teiba_90:before {
    content: "\e806";
}
.icon-_nav_website_91:before {
    content: "\e807";
}
.icon-_nav_extends_92:before {
    content: "\e808";
}
.icon-_nav_person_93:before {
    content: "\e809";
}
.icon-_nav_santiao_94:before {
    content: "\e810";
}
.icon-_nav_pic_94:before {
    content: "\e811";
}
.icon-_nav_down_95:before {
    content: "\e812";
}
.icon-_nav_up_96:before {
    content: "\e813";
}
.icon-_expand_97:before {
    content: "\e814";
}
.icon-_life_98:before {
    content: "\e815";
}

