*{
    margin: 0;
    padding: 0;
}

#container{
    width: 100%;
    height: auto;
    min-height: 200px;
    margin: 0 auto;
}

.box{
    position: relative;
    float: left;
}

.content{
    padding: 10px;
    border: 1px solid #cccccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}

.content img{
    width: 195px;
    height: auto;
}

#top{
    position: fixed;
    right: 70px;
    bottom: 100px;
    width: 40px;
    height: 40px;
    line-height: 20px;
    background: #ffffff;
    font-size: 14px ;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}